.obsidian/
.trash/

.makemd
.space

.DS_Store
Thumbs.db
desktop.ini
*.log
__pycache__/
.pytest_cache/

~$*
.~lock.*

.env
*.env
*.nix

*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.m4a
*.aac
*.ogg

*.zip
*.rar
*.7z
*.tar.gz
*.tar
*.iso

*.exe
*.msi
*.dmg
*.pkg
*.apk
*.app

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.bak
*.swp
*.swo
*~

*.ppt
*.pptx
*.key
